.nav-list .centered {
    margin: 0 auto; /* Center the "News" item */
    
  }
  
  /* Other styles for the header */
  .navbar {
  position: fixed; /* Add this to make the navbar fixed */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Adjust as needed */
  right: 0; /* Adjust as needed */
  background-color: white; 
  color: red;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 2;
  }
  
  .logo {
    display: flex;
    gap: 0px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
  }
  
  .navbar img {
    width: 30px;
    height: 30px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 16px; /* Adjust the gap as needed for spacing */
    margin: 0;
    padding: 0;
    font-size: 20pt;
    
  }
  
  .nav-list li {
    display: inline;
  }
  /* Change Color of navbar  */
  .nav-list a {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
  }